[build-system]
requires = ["hatchling", "versioningit"]
build-backend = "hatchling.build"

[project]
name = "{{project_name}}"
description = "{{description}}"
readme = "README.md"
authors = [
    { name = "{{user_name}}", email = "{{user_email}}" }
]
requires-python = ">={{py_version}}"
dynamic = ["version"]
dependencies = [
{% if has_cli %}    "typer>=0.9.0",
{% endif %}]

[project.scripts]
{% if has_cli %}{{ cli_command }} = "{{ package_name }}.cli.main:app"
{% endif %}

[dependency-groups]
dev = [
    "nox>=2025.2.9",
    "pytest>=8.3.5",
    "ruff>=0.11.6",
]

[tool.ruff]
per-file-ignores = { "__init__.py" = ["F401"] }

[tool.hatch.version]
source = "versioningit"

[tool.versioningit.vcs]
method = "git" 
match = ["v*"]
default-tag = "0.1.0"

[tool.versioningit.next-version]
method = "smallest"

[tool.versioningit.format]
distance = "{next_version}.dev{distance}+{vcs}{rev}"
dirty = "{base_version}+d{build_date:%Y%m%d}"
distance-dirty = "{next_version}.dev{distance}+{vcs}{rev}.d{build_date:%Y%m%d}"

[tool.versioningit.template-fields]
pep440 = true
